 body{
    display: block;
 }
 .fb{
    background-color: rgb(117, 117, 117);
    padding: 13px;
    width: 50;
    border-radius: 15px;
    color: aliceblue;
 }
 .sb{
   background-color: rgb(117, 117, 117);
   padding: 13px;
   width: 50;
   border-radius: 15px
 }
 
 