.orgIn {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 400px 0px 400px;
}

button {
    border: none;
    transition: all 0.5s;
    border-radius: 11px;
}

button:hover {
    transform: scale(1.1);
}

select{
    border-radius: 10px;
    font-size: 18px;
    transition: all 0.5s;
}

select:focus{
    transform: scale(1.1);
}

::placeholder{
    font-size: 16px;
}

.bolLeft {
    align-items: center;
    width: 300px;
    float: left;
    height: 250px;
    margin-top: 40vh;
    padding: 20px;
}

.bolRight {
    align-items: center;
    width: 600px;
    float: right;
    height: 400px;
    margin-top: 33vh;
    padding: 20px;
}

.bolRight input {
    margin: 0px 0px 15px 0px;
}

@media (max-width:1366px) {

    .orgIn {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px 200px 0px 100px;
    }

    .bolLeft {
        align-items: center;
        width: 300px;
        float: left;
        height: 250px;
        margin-top: 30vh;
        padding: 20px;
    }
    
    .bolRight {
        align-items: center;
        width: 600px;
        float: right;
        height: 450px;
        margin-top: 15vh;
        padding: 10px;
    }
}