/* css

NOSSA FOLHA DE ESTILIZAÇÃO DA PÁGINA HTMLLLL

*/
body{
    padding: 200px;
    font-size: 1.5em;
    background-color: rgb(53, 66, 89); 
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: Arial;
}
p{
    color: aliceblue;
    font-size: 25px;
}

h1{
    color: lightgray;
}

#grupo{
    width: 700px;
    border-radius: 13px;
    background-color: rgba(117, 117, 117, 0.2);
    padding: 30px;
}

button{
border-radius: 13px;
background-color: rgba(117, 117, 117, 0.2);
color: aliceblue;
padding: 13px;
transition: all 0.5s;
width: 120px;
border-color: rgb(108, 108, 153);
}

button:hover{
    background-color: rgb(61, 62, 66);
    width: 150px;
}

a{
    text-decoration: none;
    color: aliceblue;
}
.outraBorda {
    background-color: rgb(61, 62, 66);
    border-radius: 13px;
    padding: 10px;
    margin-bottom: 20px;    
}


